{% extends 'base.html' %}
{% block conteudo %}

    <!--texto de apresentação-->
    <p id="apresentacao">
        Descubra o Mundo da Elegância na Joalheria Aurora, onde tradição e excelência se unem para criar
        joias de tirar o fôlego. Com mais de meio século de história, cada peça é uma obra-prima de design
        e artesanato refinado, desde os clássicos atemporais até interpretações contemporâneas. Nossa paixão
        por detalhes e qualidade garante que cada criação não apenas encante os olhos, mas também toque o
        coração, tornando-se um símbolo eterno de luxo e beleza
    </p>

    <!--catalogo de imagens iniciais-->
    <section id="catalogoInicio" class="inicio">
            <img id="img1" src="{{url_for('static', filename='imagens/imagem1.jpg')}}">
            <img id="img2" src="{{url_for('static', filename='imagens/imagem2.jpg')}}">
            <img id="img3" src="{{url_for('static', filename='imagens/imagem3.jpg')}}">
    </section>

{% endblock %}